@import '~bootstrap/scss/bootstrap';
@import './components/Map/leafletDrawStyles.scss';

@font-face {
  font-family: 'Meta Book';
  src: local('Meta Book'), url(./fonts/meta_book_roman.ttf) format('truetype');
}

@font-face {
  font-family: 'Meta';
  src: local('Meta'), url(./fonts/Meta.ttf) format('truetype');
}

.savetiles {
  display: none
}

.tettsted-inngang-bygg-available{
  width: 20px !important;
  height: 20px !important;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 18px;
  border: 1px solid #000000;
  text-align: center;
  color: #00ff00;
  background-color: #00ff00;
  font-size: 16px;
}

.leaflet-pm-divIcon-selected {
  width: 36px !important;
  height: 36px !important;
  border: 8px solid #00fff7;
}



.leaflet-pm-marker-selected {
  background-color: rgba(51, 136, 255, 0.2);
  border: 5px solid #00fff7;
  margin: -19px 0 0 -19px !important;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  box-sizing: content-box;
}

.leaflet-pm-divmarker-selected {
  background-color: rgba(51, 136, 255, 0.2);
  border: 5px solid #00fff7;
  margin: -19px 0 0 -19px !important;
  -webkit-border-radius: 4px;
  border-radius: 25px;
  box-sizing: content-box;
}
