@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.no-border {
  border-bottom: none !important;
}

.MuiPagination-root {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

td,
th {
  vertical-align: middle !important;

  &.small-cell {
    max-width: 40px !important;
    padding-right: 0px !important;
    text-align: right;
  }

  &.action-cell {
    padding-left: 0px !important;
    text-align: right;

    .more-button {
      display: inline-block;
    }

    .download-button {
      display: inline-block;

      .MuiSvgIcon-root {
        color: #1a589f;
      }
    }
  }
}

td {
  &:not(.action-cell):not(.small-cell) {
    &:hover {
      cursor: pointer;
    }
  }
}

.MuiListItemIcon-root {
  justify-content: center;

  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
  }
}

button:focus {
  outline: none;
}

.MuiListItem-root {
  justify-content: space-between;
}

.info-panel {
  background-color: #fafafa;
}

.selected-row {
  background-color: rgba($color: #2189d6, $alpha: 0.12);
}

tbody>tr:first-child {
  @include media-breakpoint-up(lg) {
    td {
      border-top: 2px solid gray;
    }
  }
}